<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que você iniciou o processo de criação de uma nova conta.</p>
  <p>Se foi você, então clique no link abaixo para concluir a criação:</p>
  <p>
    <a href="{{link}}">Criar conta</a>
  </p>
   <p>Este link irá expirar em 5 horas.</p>
  <p>Se não foi você, então descarte este email!</p>
  <p>
    Obrigado! <br/>
  </p>
</div>
