<strong>Olá, {{ name }}</strong>
<p>{{ title }}</p>
<br><br>
<p>Estamos enviando um código abaixo para confirmar sua conta e criação da senha, copie e cole no sistema para confirmar
    a senha financeira.</p>
<strong>{{ code }}</strong>