<strong>Olá, {{ name }}</strong>
<p>{{ title }}</p>
<br><br><br>
<p>Segue abaixo o código para confirmar a <strong>Alteração da senha</strong>. Copie e cole no sistema para dar
    continuidade.</p>
<br><br><br>
<strong>{{ code }}</strong>