<strong>Olá, {{ name }}</strong>
<p>Seja bem vindo a administração da World Cash. Seguem suas credencias de acesso.</p>
<br>
<p>USERNAME: </p> <strong> {{username}} </strong>

<p> ATENÇÃO!!!!
    Estas credencias são unicamente suas.
    Não encaminhe-as ou repasse para terceiros,
    qualquer ação feita no sistema com essas credencias será de responsabilidade sua.
</p>
