<!DOCTYPE html>
<html lang="en-gb">

<head>
  <meta charset="utf-8" />
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(255, 255, 255);
    }

    .layout {
      max-width: 600px;
      margin: 0 auto;
      background: #fff;
      background-color: #fff;
      color: #99541c;
      padding: 24px;
    }

    .header {
      width: 100%;
      text-align: center;
    }

    #header-logo {
      width: 250px;
    }

    .footer {
      width: 100%;
      text-align: center;
    }

    .footer ul {
      padding: 0;
    }

    .footer ul li {
      list-style: none;
      margin-left: 5px;
      margin-right: 5px;
    }

    .footer ul li .svg-icon {
      width: 40px;
      height: 40px;
    }

    .footer p {
      text-align: center;
      margin: 0;
    }

    .container {
      width: 100%;
      padding: 15px 0;
    }

    .template-content {
      max-width: 500px;
      margin: 0 auto;
      text-align: justify;
    }

    .template-content .title {
      text-align: center;
      padding-bottom: 15px;
    }

    .code {
      width: 100%;
      text-align: center;
      padding: 20px 0;
    }

    .code b {
      color: #fff;
      background: #5f463c;
      padding: 3px;
      border-radius: 2px;
    }
  </style>
</head>

<body>
  <div class="layout">
    <div class="header">
      <a href="" title="World Cash">
        {{!-- <img id="header-logo" src="" /> --}}
      </a>
    </div>
    <div class="container">
      {{{ body }}}
    </div>
    {{!-- <div class="footer">
      {{{footer}}}
    </div> --}}
  </div>
</body>

</html>
